<?php
define('SITETITLE', 'BiblioHub Library');

define('DBHOST', 'localhost');
define('DBNAME', 'BiblioHub');
define('DBUSER', 'your_username');
define('DBPASS', 'your_password');
define('DBCONNSTRING', 'mysql:dbname=' . DBNAME . ';charset=utf8mb4;');
?>
